# This is Git's per-user configuration file.
[user]
	email = harmonprograms@protonmail.com
	name = harm0n

[http]
	postBuffer = 524288000

[core]
  pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    line-numbers = true
    syntax-theme = DarkNeon
    
[diff]
    colorMoved = default
[init]
	defaultBranch = main

# https://git-scm.com/docs/git-config#_includes
# For ec2 instances
[includeif "gitdir:/home/ec2-user/"]
	path = /home/ec2-user/dotfiles/.gitconfig-remote
[includeif "gitdir:/tmp/"]
	path = /home/ec2-user/dotfiles/.gitconfig-remote
