# This is Git's per-user configuration file.
[user]
	email = harmonprograms@protonmail.com
	name = harm0n

[http]
	postBuffer = 524288000

[core]
  pager = delta
	editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    line-numbers = true
    syntax-theme = DarkNeon
    
[diff]
    colorMoved = default
[init]
	defaultBranch = main
# Use includeIf with hasconfig to detect EC2
# On EC2, set: git config --global ec2.instance true
[includeIf "hasconfig:ec2.instance:true"]
	path = ~/.gitconfig-github
